/Local/node_modules
/CDN/node_modules
/Local/package-lock.json
/Local/yarn.lock
/CDN/yarn.lock
/Local/.vscode
update-version.js
export.sh
/export
db.sqlite
db.sqlite3
db.sqlite3-journal
*.sqlite3
db.sqlite3
**/migrations/
*.pyc
__pycache__/
**/migrations/*.py
**/migrations/*.pyc
**/migrations/__pycache__/
media/