.black-gray {
    background-color: #202020;
  }
  
  .fm-hero-video-area {
    background-size: cover;
  }
  
  .fm-about-content-section p {
    color: var(--clr-body-text4);
  }
  
  .fm-about-btn {
    font-size: 14px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
  }
  .fm-about-btn:hover {
    color: #171717;
    background-color: #fff;
  }
  
  .fm-about-glory-text {
    display: inline-block;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    line-height: 35px;
  }
  
  .fm-about-glory {
    position: relative;
    z-index: 1;
  }
  
  .fm-about-backtitle {
    margin-bottom: 0;
    color: #313131;
    font-size: 150px;
    position: absolute;
    inset-inline-end: -130px;
    top: -40px;
    line-height: 1;
    z-index: -1;
  }
  @media only screen and (min-width: 1600px) and (max-width: 1799px) {
    .fm-about-backtitle {
      inset-inline-end: -70px;
    }
  }
  @media only screen and (min-width: 1441px) and (max-width: 1599px) {
    .fm-about-backtitle {
      inset-inline-end: -60px;
      font-size: 120px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-backtitle {
      font-size: 120px;
      inset-inline-end: -50px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-backtitle {
      font-size: 100px;
      position: static;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-glory.mt-25 {
      margin-top: 45px;
    }
  }
  
  .fm-film-about-area {
    position: relative;
  }
  
  .fm-film-about-newimg {
    position: absolute;
    inset-inline-end: 0;
    top: 0;
    z-index: 1;
    width: 57%;
    height: calc(100% + 100px);
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-film-about-newimg {
      width: 100%;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-film-about-newimg {
      width: 50%;
    }
  }
  .fm-film-about-newimg:before {
    position: absolute;
    left: 0;
    top: -100px;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #000;
    opacity: 0;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-film-about-newimg:before {
      opacity: 0.4;
    }
  }
  .fm-film-about-newimg img {
    margin-top: -100px;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .fm-film-about-newimg .fm-films-video-button {
    top: 50%;
    opacity: 1;
    visibility: visible;
    margin-top: -55px;
  }
  
  .fm-about-content-section {
    padding-inline-start: 90px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-content-section {
      padding-inline-start: 30px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-content-section {
      padding-inline-start: 0;
    }
  }
  
  .fm-about-marque-title {
    font-size: 260px;
    line-height: 1.1;
    position: relative;
    z-index: 2;
    mix-blend-mode: overlay;
    -webkit-mix-blend-mode: overlay;
    -moz-mix-blend-mode: overlay;
    letter-spacing: -10px;
    font-weight: 900;
    color: #fff;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-marque-title {
      font-size: 240px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-marque-title {
      font-size: 220px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-marque-title {
      font-size: 200px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-marque-title {
      font-size: 160px;
    }
  }
  
  .fm-film-about-marque-text {
    text-align: right;
  }
  .fm-film-about-marque-text marquee {
    width: calc(1410px + (100% - 1440px) / 2);
  }
  
  .fm-about-achievement-badge img {
    margin-inline-end: 35px;
  }
  
  .mov-slogan {
    position: absolute;
    bottom: 0;
    left: 100%;
    font-size: 200px;
    font-weight: 700;
    color: #3e2c2c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
    display: none;
  }
  
  .fm-film-about-left-shape {
    position: absolute;
    inset-inline-start: 0;
    top: -38%;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px), only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-film-about-left-shape {
      top: -53%;
    }
  }
  
  .fm-film-about-content {
    position: relative;
    z-index: 2;
  }
  
  .fm-border-section-title-10 {
    display: inline-block;
    padding: 0 40px;
    position: relative;
    font-size: 20px;
    font-weight: 400;
  }
  .fm-border-section-title-10:before {
    position: absolute;
    inset-inline-end: 100%;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: 200%;
    background-color: #2e2e2e;
  }
  .fm-border-section-title-10:after {
    position: absolute;
    inset-inline-start: 100%;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    height: 1px;
    width: 200%;
    background-color: #2e2e2e;
  }
  .fm-border-section-title-10:is(.title-color):before {
    background-color: #ececec;
  }
  .fm-border-section-title-10:is(.title-color):after {
    background-color: #ececec;
  }
  
  .director-about-nam {
    font-size: 43px;
    font-weight: 400;
    color: #fff;
    font-family: "Autography", sans-serif;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px), only screen and (min-width: 768px) and (max-width: 991px) {
    .director-about-nam {
      font-size: 35px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .director-about-nam {
      font-size: 30px;
    }
  }
  @media (max-width: 575px) {
    .director-about-nam {
      font-size: 24px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .director-about-nam {
      font-size: 28px;
    }
  }
  
  .fm-director-years-number {
    display: inline-block;
    font-size: 225px;
    font-weight: 600;
    color: #fff;
    line-height: 0.75;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-director-years-number {
      font-size: 180px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-director-years-number {
      font-size: 160px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-director-years-number {
      font-size: 90px;
    }
  }
  
  .fm-director-plus {
    font-size: 98px;
    display: block;
    font-weight: 400;
    color: #fff;
    margin-bottom: 15px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-director-plus {
      font-size: 80px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-director-plus {
      font-size: 70px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-director-plus {
      font-size: 50px;
      margin-bottom: 10px;
    }
  }
  
  .fm-director-years-content {
    display: inline-block;
  }
  
  .fm-director-years-text {
    font-size: 24px;
    line-height: 1.4;
    display: inline-block;
    color: #fff;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-director-years-text {
      font-size: 22px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-director-years-text {
      font-size: 18px;
    }
  }
  
  .fm-director-years {
    display: flex;
    align-items: center;
    grid-gap: 30px;
    position: absolute;
    left: 35px;
    bottom: 0;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-director-years {
      left: 0;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-director-years {
      left: 0;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-director-years {
      grid-gap: 20px;
      left: 0;
    }
  }
  
  .fm-director-about-img {
    position: relative;
  }
  .fm-director-about-img img {
    width: 100%;
  }
  
  .black-overlay {
    position: relative;
    z-index: 1;
  }
  
  .black-overlay:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(rgba(23, 23, 23, 0.2) 0%, #171717 100%);
    z-index: -1;
  }
  
  .min-height530 {
    min-height: 530px;
    overflow: hidden;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .min-height530 {
      min-height: 300px;
    }
  }
  
  .fm-about-main-img-wrapper {
    position: relative;
    z-index: 1;
    margin-right: -30px;
    max-width: 720px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-main-img-wrapper {
      margin-right: 0;
    }
  }
  
  .fm-about-main-left-bottom-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 35%;
    height: 170px;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-main-left-bottom-img {
      height: 100px;
    }
  }
  .fm-about-main-left-bottom-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fm-about-main-right-top-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 43.5%;
  }
  
  .fm-about-main-right-top-img {
    width: 100%;
    height: 100%;
  }
  .fm-about-main-right-top-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .fm-about-main-text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.44;
    margin-bottom: 35px;
    margin-top: 35px;
  }
  
  .fm-about-main-middle-top-img {
    position: absolute;
    top: 0;
    width: 27.5%;
    right: 49%;
    height: 220px;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-main-middle-top-img {
      height: 100px;
    }
  }
  .fm-about-main-middle-top-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .fm-about-main-number {
    font-size: 300px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: 50%;
    z-index: 2;
    right: 33%;
    transform: translateY(-50%);
    margin-top: 25px;
    letter-spacing: -5px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-main-number {
      font-size: 220px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-main-number {
      font-size: 190px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-main-number {
      font-size: 220px;
      right: 40%;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .fm-about-main-number {
      font-size: 140px;
      margin-top: 0;
      right: 40%;
    }
  }
  @media (max-width: 575px) {
    .fm-about-main-number {
      font-size: 120px;
      margin-top: 0;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-special-text.pr-200 {
      padding-right: 0;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-special-text.pr-200 {
      padding-right: 100px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-special-text-img.pl-120 {
      padding-left: 0;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-special-text-img.pl-120 {
      padding-left: 60px;
    }
  }
  
  .fm-service-bright-single i {
    font-size: 60px;
    color: #171717;
    display: inline-block;
    margin-bottom: 30px;
    transition: transform 0.3s cubic-bezier(0.21, 0.6, 0.44, 2.18);
    max-height: 60px;
  }
  .fm-service-bright-single p {
    font-size: 16px;
    line-height: 1.65;
  }
  .fm-service-bright-single:hover i {
    transform: translate3d(0, -6px, 0);
    color: var(--clr-theme-1);
  }
  
  .fm-service-bright-single-title {
    color: #171717;
    line-height: 1.5;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .fm-service-bright-single.bright-single {
    position: relative;
    z-index: 1;
    padding: 0 20px;
  }
  .fm-service-bright-single.bright-single:before {
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #efefef;
    content: "";
    margin-right: -15px;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-service-bright-single.bright-single:before {
      display: none;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-service-bright-single.bright-single:is(.smmd-border-none):before {
      display: none;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-service-bright-single.bright-single:is(.lg-border-none):before {
      display: none;
    }
  }
  
  .fm-about-special-text p {
    font-size: 16px;
    line-height: 1.625;
  }
  
  .about-special-btn {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #171717;
    display: inline-block;
    padding: 0 35px;
    color: #171717;
    font-weight: 500;
  }
  .about-special-btn:hover {
    background-color: #171717;
    color: #fff;
  }
  
  .mtm-140 {
    margin-top: -140px;
  }
  
  .fm-about-special-img-topright img {
    width: 82.5%;
    min-height: 350px;
    object-fit: cover;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-special-img-topright img {
      width: 100%;
    }
  }
  
  .fm-about-special-img-bottomleft img {
    width: 84%;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-special-img-bottomleft img {
      width: 90%;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-special-img-bottomleft img {
      width: 100%;
    }
  }
  
  .fm-about-main-number.title-color {
    color: #171717;
  }
  
  .pr-220 {
    padding-right: 220px;
  }
  
  .team-softhalf-bg {
    position: relative;
  }
  
  .team-softhalf-bg:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 534px;
    content: "";
    background-color: #f9f9f9;
    z-index: -1;
  }
  
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-title-section.pr-220 {
      padding-right: 100px;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .section-main-title.lg38 {
      font-size: 38px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px), only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-about-special-img-bottomleft.mtm-140 {
      margin-top: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-title-section.pr-220 {
      padding-right: 20px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-title-section.pr-220 {
      padding-right: 0;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-achievement-badge.lg-space img {
      margin-right: 25px;
      max-width: 80px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-achievement-badge.lg-space img {
      margin-right: 20px;
      max-width: 70px;
    }
  }
  
  .fm-slidervideo-textsingle.text-center .d-inline-block {
    cursor: pointer;
  }
  
  .section-main-title.about-main-title {
    margin-bottom: 40px;
  }
  
  .about-thumb img {
    width: 100%;
  }
  
  .about-thumb-wrapper {
    position: relative;
  }
  
  .about-thumb {
    position: relative;
    height: 470px;
    overflow: hidden;
  }
  .about-thumb img {
    object-fit: cover;
    position: absolute;
    bottom: 0;
    -o-object-fit: cover;
    width: 100%;
    height: 110%;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }
  @media (max-width: 575px) {
    .about-thumb img {
      height: 100%;
      object-fit: cover;
    }
  }
  @media (max-width: 575px) {
    .about-thumb {
      height: 350px;
    }
  }
  
  .about-subtitle {
    font-weight: 500;
    color: var(--clr-theme-1);
    font-size: 16px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .about-subtitle {
      margin-bottom: 18px;
      display: inline-block;
    }
  }
  
  .about-exp-num {
    font-size: 100px;
    margin: 0;
    color: var(--clr-common-white);
    margin-bottom: -4px;
    font-weight: 800;
  }
  
  .about-exp {
    position: absolute;
    background: var(--clr-theme-1);
    padding: 16px 33px 33px 30px;
    top: -110px;
    inset-inline-start: 160px;
    z-index: 1;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-exp {
      inset-inline-start: 80px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-exp {
      bottom: 10px;
      top: auto;
      inset-inline-end: 10px;
      inset-inline-start: auto;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .about-exp {
      bottom: 10px;
      top: auto;
      inset-inline-end: 10px;
      inset-inline-start: auto;
      padding: 16px 10px 25px 30px;
    }
  }
  
  .about-style-2 {
    position: relative;
  }
  
  .about-clr {
    color: var(--clr-common-black);
  }
  
  .about-clr-2 {
    color: var(--clr-common-white);
  }
  
  .section-main-title.about-sec-title {
    color: var(--clr-common-white);
    margin-bottom: 30px;
  }
  .section-main-title.about-sec-title.about-sec-title-2 {
    color: var(--clr-common-black);
  }
  .section-main-title.history-sec-title {
    color: var(--clr-common-white);
    display: inline-block;
  }
  
  .btn-featured.about-btn {
    background: transparent;
    border: 1px solid var(--clr-common-white);
  }
  
  .about-text-2 {
    margin-bottom: 48px;
    max-width: 630px;
  }
  
  .about-clr-black {
    color: var(--clr-common-black);
  }
  
  .fm-about-video-btn .fm-video-btn {
    width: 94px;
    height: 94px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    font-size: 18px;
    border: 1px solid var(--clr-common-white);
    color: var(--clr-theme-1);
  }
  
  .fm-about-video-thumb {
    position: relative;
  }
  
  .fm-about-video-btn {
    position: absolute;
    inset-inline-start: 50px;
    bottom: 140px;
  }
  
  .fm-about-video-thumb img {
    border-radius: 1000px 1000px 0 0;
  }
  
  .fm-about-video-wrap {
    position: absolute;
    bottom: -20px;
    inset-inline-end: 0px;
    z-index: 1;
  }
  
  .about-sec-wrapper {
    background: #000;
    padding: 140px 0px 0px 90px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-sec-wrapper {
      padding: 140px 0px 0px 45px;
    }
  }
  
  .fm-about-style {
    position: relative;
    background: #000;
  }
  
  .fm-about-bg-thumb {
    position: absolute;
    width: 43%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    inset-inline-start: 0;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-bg-thumb {
      position: relative;
      width: 100%;
      min-height: 500px;
    }
  }
  @media (max-width: 575px) {
    .fm-about-bg-thumb {
      height: 400px;
    }
  }
  .fm-about-bg-thumb:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--clr-common-black);
    opacity: 0.5;
  }
  
  .about-thumb-2 img {
    width: 100%;
  }
  
  .fm-about-pos {
    display: flex;
    justify-content: end;
  }
  
  .fm-about-wrapper {
    margin-inline-start: 60px;
    position: relative;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-wrapper {
      padding-inline-start: 145px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-about-wrapper {
      margin-inline-start: 0;
    }
  }
  
  .fm-about-bg-wrap {
    position: relative;
  }
  
  .about-exp-2 {
    position: absolute;
    padding: 16px 33px 33px 30px;
    top: 120px;
    inset-inline-end: 170px;
    z-index: 5;
    display: inline-block;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .about-exp-2 {
      inset-inline-end: 0;
      position: relative;
    }
  }
  .about-exp-2:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--clr-theme-1);
    z-index: -1;
    bottom: -20px;
    right: -20px;
  }
  .about-exp-2:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--clr-common-white);
    z-index: -1;
    top: 0;
    right: 0;
  }
  
  .breadcrumb-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  @media (max-width: 575px) {
    .breadcrumb-menu ul {
      justify-content: start;
    }
  }
  .breadcrumb-menu ul li {
    position: relative;
  }
  .breadcrumb-menu ul li:not(:last-child) ::after {
    display: inline-block;
    color: var(--clr-common-white);
    content: ":";
    position: absolute;
    inset-inline-end: -12px;
    font-family: "font awesome 5 pro";
    font-size: 15px;
  }
  .breadcrumb-menu ul li a {
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-common-white);
    transition: 0.3s;
  }
  .breadcrumb-menu ul li a:hover {
    color: var(--clr-theme-1);
  }
  
  .trail-item.trail-end {
    font-weight: 600;
    color: var(--clr-common-white);
  }
  
  .fm-breadcrumb-area {
    position: relative;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    align-items: center;
    padding: 150px 0;
  }
  .fm-breadcrumb-area.breadcrumb-style {
    padding: 200px 0 200px;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 575px) {
    .fm-breadcrumb-area.breadcrumb-style {
      padding: 180px 0 200px;
    }
  }
  .fm-breadcrumb-area:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #171717;
    z-index: -1;
    opacity: 0.55;
  }
  
  .page-title-wrapper {
    margin-bottom: 15px;
  }
  
  .page-title {
    font-size: 60px;
    color: var(--clr-common-white);
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 1200px) and (max-width: 1440px) {
    .page-title {
      font-size: 55px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-title {
      font-size: 50px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .page-title {
      font-size: 45px;
    }
  }
  @media (max-width: 575px) {
    .page-title {
      font-size: 40px;
      justify-content: start;
    }
  }
  
  .achieve-text-clr {
    color: #777;
    margin: 0;
    margin-bottom: 50px;
  }
  
  .fm-achievement-badge {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  @media (max-width:450px) {
    .fm-achievement-badge {
      gap: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .fm-achievement-thumb-2 {
      text-align: center;
    }
  }
  .fm-achievement-thumb-2 img {
    clip-path: circle(50% at 50% 50%);
    width: 100%;
  }
  
  .fm-achievement-btn {
    position: relative;
    display: inline-block;
    background: #e9e9e9;
    border-radius: 50%;
    padding: 15px;
    margin-bottom: 35px;
  }
  .fm-achievement-btn i {
    position: absolute;
    left: 50%;
    top: 50%;
    color: var(--clr-common-white);
    z-index: var(--clr-common-white);
    z-index: 1;
    font-size: 22px;
    transform: translate(-50%, -50%);
  }
  .fm-achievement-btn:hover i {
    color: var(--clr-theme-1);
  }
  
  .fm-achievement-thumb-3 {
    margin-top: -175px;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-achievement-thumb-3 {
      margin-top: 0;
    }
  }
  .fm-achievement-thumb-3 img {
    border-radius: 105px;
    width: 100%;
  }
  
  .fm-achievement-thumb-wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
  
  .fm-achievement-thumb-wrapper > div:nth-child(1) {
    grid-row: span 2;
  }
  
  .fm-achievement-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 100/80;
    border-radius: 5px;
  }
  
  .fm-achieve-text {
    font-size: 24px;
    display: flex;
    justify-content: center;
    color: var(--clr-common-black);
    font-style: italic;
    line-height: 1.4;
    font-weight: 500;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-achieve-text {
      font-size: 23px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-achieve-text {
      font-size: 20px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-achieve-text {
      font-size: 19px;
    }
  }
  
  .fm-about-btn-2 {
    display: inline-block;
  }
  
  .fm-films-video-button-main.btn-style {
    position: absolute;
    left: 50%;
    top: 68%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
    z-index: 2;
    visibility: visible;
    opacity: 1;
  }
  
  .fm-films-video-button-main.btn-style .fm-film-video-btn {
    width: 94px;
    height: 94px;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    font-size: 18px;
    color: var(--clr-theme-1);
  }
  .fm-films-video-button-main.btn-style .fm-film-video-btn svg {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    fill: none;
    stroke: var(--clr-common-white);
    -webkit-transition: all 0.8s cubic-bezier(0.45, 0, 0.14, 1.03), stroke 10ms ease-out;
    -o-transition: all 0.8s cubic-bezier(0.45, 0, 0.14, 1.03), stroke 10ms ease-out;
    transition: all 0.8s cubic-bezier(0.45, 0, 0.14, 1.03), stroke 10ms ease-out;
    transition-duration: 0.8s, 10ms;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    -webkit-transition-duration: 1.1s;
    outline: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    outline-offset: -5px;
    -o-transition-duration: 1.1s;
    transition-duration: 1.1s;
  }
  
  .about-2-wrapper {
    margin-inline-start: 10px;
    margin-inline-end: 27px;
    padding-top: 115px;
    padding-bottom: 140px;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .about-2-wrapper {
      padding-top: 0;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .about-2-wrapper {
      padding-top: 0;
      margin-inline-start: 10px;
      margin-inline-end: 0;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .about-2-wrapper {
      padding-top: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .about-2-wrapper {
      padding-top: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      margin-top: -45px;
      padding-bottom: 60px;
    }
  }
  @media (max-width: 575px) {
    .about-2-wrapper {
      padding-top: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      margin-top: 40px;
      padding-bottom: 60px;
    }
  }
  
  .sec-sub-style .section-subtitle {
    position: relative;
    margin-left: 80px;
  }
  .sec-sub-style .section-subtitle::before {
    position: absolute;
    content: "";
    background: var(--clr-theme-1);
    height: 1px;
    width: 60px;
    left: -80px;
    top: 7px;
  }
  .sec-sub-style .section-subtitle::after {
    position: absolute;
    content: "";
    background: var(--clr-theme-1);
    height: 1px;
    width: 60px;
    left: -80px;
    top: 11px;
  }
  
  .fm-about-content-2 p {
    margin-top: 31px;
    margin-bottom: 40px;
    color: var(--clr-body-text2);
  }
  
  .fm-about-thumb-wrapper-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  @media (max-width: 575px) {
    .fm-about-thumb-wrapper-3 {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  .fm-about-thumb-3 img {
    width: 100%;
  }
  .fm-about-thumb-3:nth-child(1) {
    transform: translateY(100px);
  }
  @media (max-width: 575px) {
    .fm-about-thumb-3:nth-child(1) {
      transform: translateY(0);
    }
  }
  .fm-about-thumb-3:nth-child(2) img {
    max-width: 250px;
    height: 320px;
    object-fit: cover;
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-thumb-3:nth-child(2) img {
      height: 270px;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-thumb-3:nth-child(2) img {
      height: 230px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .fm-about-thumb-3:nth-child(2) img {
      height: 260px;
    }
  }
  @media (max-width: 575px) {
    .fm-about-thumb-3:nth-child(2) img {
      max-width: 100%;
      height: auto;
    }
  }
  .fm-about-thumb-3:nth-child(3) {
    transform: translateX(360px) translateY(-145px);
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    .fm-about-thumb-3:nth-child(3) {
      transform: translateX(285px) translateY(-88px);
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-thumb-3:nth-child(3) {
      transform: translateX(240px) translateY(-66px);
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .fm-about-thumb-3:nth-child(3) {
      transform: translateX(270px) translateY(-75px);
    }
  }
  @media (max-width: 575px) {
    .fm-about-thumb-3:nth-child(3) {
      transform: translateX(0) translateY(0);
    }
  }
  [dir=rtl] .fm-about-thumb-3:nth-child(3) {
    transform: translateX(-360px) translateY(-145px);
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px) {
    [dir=rtl] .fm-about-thumb-3:nth-child(3) {
      transform: translateX(-285px) translateY(-88px);
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    [dir=rtl] .fm-about-thumb-3:nth-child(3) {
      transform: translateX(-240px) translateY(-66px);
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    [dir=rtl] .fm-about-thumb-3:nth-child(3) {
      transform: translateX(-270px) translateY(-75px);
    }
  }
  @media (max-width: 575px) {
    [dir=rtl] .fm-about-thumb-3:nth-child(3) {
      transform: translateX(0) translateY(0);
    }
  }
  .fm-about-thumb-3:nth-child(3) img {
    max-width: 250px;
    height: 310px;
    object-fit: cover;
  }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .fm-about-thumb-3:nth-child(3) img {
      height: 270px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .fm-about-thumb-3:nth-child(3) img {
      height: 300px;
    }
  }
  @media (max-width: 575px) {
    .fm-about-thumb-3:nth-child(3) img {
      max-width: 100%;
      height: auto;
    }
  }
  
  .section-subtitle {
    color: var(--clr-theme-1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    display: inline-block;
    margin-bottom: 15px;
    letter-spacing: 4.16px;
  }
  
  /*#############################
  ##############################
  07. Testimonial CSS
  ##############################
  #############################*/
  .pb-250 {
    padding-bottom: 250px;
  }
  
  .pt-430.mtm-430 {
    padding-top: 430px;
    margin-top: -430px;
    z-index: 0;
    background-size: cover;
  }
  
  .fm-film-testimonial-area {
    position: relative;
    z-index: 1;
  }
  .fm-film-testimonial-area:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-image: radial-gradient(at 50% 60%, rgba(23, 23, 23, 0.62), #171717);
    opacity: 1;
    z-index: -1;
  }
  
  .fm-film-testimonial-content > i {
    font-size: 80px;
    color: #fff;
    display: inline-block;
    margin-bottom: 30px;
  }
  .fm-film-testimonial-content p {
    font-size: 22px;
    line-height: 1.45;
    color: #fff;
    font-style: italic;
    padding: 20px 0;
    padding-bottom: 20px;
  }
  
  .fm-film-testimonial-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33;
  }
  
  .fm-film-testimonial-author-name {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
  }
  
  .fm-film-testimonial-author-designation {
    font-size: 14px;
    font-weight: 400;
  }
  
  .fm-film-testimonial-rating i {
    color: #fff;
    font-weight: 300;
  }
  
  .fm-film-testimonial-content {
    padding: 0 90px;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-film-testimonial-content {
      padding: 0;
    }
  }
  
  .fm-film-testimonial-active {
    position: relative;
  }
  
  .fm-film-testimonial-navigation span {
    position: absolute;
    left: 20px;
    font-size: 16px;
    top: unset;
    transform: translateY(-50%);
    color: var(--clr-common-white);
    z-index: 2;
    transition: 0.4s;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    bottom: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-film-testimonial-navigation span {
      bottom: -5px;
    }
  }
  .fm-film-testimonial-navigation span.fm-film-testimonial-next {
    left: auto;
    right: 20px;
  }
  .fm-film-testimonial-navigation img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
  
  /* faq css */
  .faq-sec-title {
    display: inline-block;
  }
  
  .fm-faq-single-button {
    font-size: 20px;
    font-weight: 600;
    color: var(--clr-common-black);
    line-height: 1.3;
    margin-bottom: 0;
    padding: 25px 30px;
    border: 1px solid #ececec;
    position: relative;
    width: 100%;
    text-align: start;
    padding-right: 60px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-faq-single-button {
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-faq-single-button {
      font-size: 16px;
      padding-inline-start: 20px;
      padding-inline-end: 40px;
    }
  }
  .fm-faq-single-button:before {
    position: absolute;
    inset-inline-end: 30px;
    top: 50%;
    content: "-";
    font-family: "fontawesome 6 Pro";
    transform: translateY(-50%);
    color: var(--clr-common-black);
    transition: 0.4s;
    font-size: 20px;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-faq-single-button:before {
      inset-inline-end: 20px;
    }
  }
  
  .fm-faq-single-title {
    margin-bottom: 0;
  }
  
  .fm-faq-single:not(:last-child) {
    margin-bottom: 30px;
  }
  
  .fm-faq-single-body {
    padding: 15px 30px;
    border: 1px solid var(--clr-border-6);
    border-top: 0;
    color: #777;
  }
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-faq-single-body {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  
  .fm-faq-single-button[aria-expanded=true] {
    border: 1px solid var(--clr-border-6);
  }
  
  .fm-faq-single-button[aria-expanded=false] {
    border: 1px solid var(--clr-border-6);
  }
  .fm-faq-single-button[aria-expanded=false]::before {
    content: "+";
  }
  
  .fm-testimonial-content {
    box-shadow: 0px 13px 55px rgba(0, 0, 0, 0.12);
    padding: 45px 45px 60px;
    position: relative;
    background: var(--clr-bg-1);
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-testimonial-content {
      padding: 43px 25px 58px;
    }
  }
  @media (max-width: 575px) {
    .fm-testimonial-content {
      padding: 43px 15px 58px;
    }
  }
  .fm-testimonial-content::after {
    position: absolute;
    content: "";
    width: 138px;
    height: 126px;
    background: var(--clr-theme-1);
    top: 0;
    inset-inline-start: 0;
    clip-path: polygon(0% 0%, 100% 0, 0 100%);
  }
  
  .fm-testimonial-quote-icon {
    position: relative;
    z-index: 1;
  }
  
  .testimonial-clr {
    color: #000 !important;
  }
  
  .fm-testimonial-text p {
    font-size: 24px;
    color: var(--clr-common-black);
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 60px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-testimonial-text p {
      font-size: 18px;
    }
  }
  @media only screen and (min-width: 1200px) and (max-width: 1440px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .fm-testimonial-text p {
      font-size: 20px;
    }
  }
  
  .fm-testimonial-quote-icon {
    margin-bottom: 30px;
  }
  
  .fm-testimonial-bottom-content {
    display: flex;
    align-items: center;
    gap: 45px;
    flex-wrap: wrap;
  }
  @media (max-width: 575px) {
    .fm-testimonial-bottom-content {
      gap: 38px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-testimonial-bottom-content {
      gap: 30px;
    }
  }
  
  .fm-testimonial-author span {
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    color: var(--clr-theme-1);
    position: relative;
  }
  .fm-testimonial-author span::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 20px;
    background: var(--clr-border-1);
    right: -20px;
    bottom: 0;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .fm-testimonial-author span::after {
      right: -15px;
    }
  }
  
  .testimonial-pos {
    position: relative;
    z-index: 3;
  }
  
  .circle-dot-pagination .swiper-pagination-bullet {
    width: 38px;
    height: 38px;
    border: 1px solid transparent;
    display: inline-block;
    border-radius: 50%;
    margin: 1px !important;
    position: relative;
    background: none;
    opacity: 1;
  }
  .circle-dot-pagination .swiper-pagination-bullet::before {
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    background: var(--clr-common-white);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .circle-dot-pagination .swiper-pagination-bullet-active {
    border-color: rgba(255, 255, 255, 0.1254901961);
  }
  .circle-dot-pagination .swiper-pagination-bullet-active::before {
    background: var(--clr-theme-1);
  }
  
  .testimonial-pagination {
    display: flex;
    column-gap: 10px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .testimonial-pagination {
      order: 2;
    }
  }
  
  .testimonial-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .testimonial-bg::before {
    content: "";
    position: absolute;
    background: var(--clr-common-black);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.9;
  }
  
  .fm-testimonial-brand-thumb {
    max-width: 70px;
  }
  .fm-testimonial-brand-thumb img {
    width: 100%;
  }
  
  .testimonial-content-bg {
    background: var(--clr-common-black);
  }
  
  .testimonial-icon-bg span svg * {
    fill: var(--clr-body-text);
  }
  
  .testimonial-text-clr p {
    color: #c2c2c2;
  }
  
  .client-sec {
    display: inline-block;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px), (max-width: 575px) {
    .client-area {
      padding-top: 60px;
    }
  }
  
  .client-wrapper {
    padding: 40px 35px;
    position: relative;
    box-shadow: 0px 10px 30px 0px rgba(208, 208, 208, 0.26);
    background: #f7f7f7;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width:450px) {
    .client-wrapper {
      padding: 30px;
    }
  }
  
  .client-name {
    border-bottom: 1px solid #e2e0f6;
    padding-bottom: 30px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  @media only screen and (min-width: 768px) and (max-width: 991px), (max-width:450px) {
    .client-name {
      display: block;
    }
  }
  
  .client-text {
    position: relative;
  }
  .client-text h4 {
    font-size: 22px;
    margin-bottom: 6px;
  }
  .client-text span {
    font-size: 14px;
    color: var(--clr-theme-1);
    letter-spacing: 2px;
    font-weight: 400;
  }
  
  .client-content p {
    margin-bottom: 0;
  }
  
  .client-icon {
    margin-top: 16px;
  }
  .client-icon i {
    color: var(--clr-theme-1);
  }
  
  .client-img {
    max-width: 80px;
  }
  .client-img img {
    border-radius: 50%;
    width: 100%;
  }